<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/login.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>herematch</title>
<!-- InstanceEndEditable -->
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="layout.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<div class="background-gradient">
	<div class="header">
        		<div class="logo"><a href="index.html"><img src="images/template/herematch-logo.png" alt="Here Match" width="341" height="94" /></a></div>
        <div class="greeting">
        Hello Steve. Not Steve, <a href="#">Log Out </a></div>
      <div class="navigation">
          <ul id="MenuBar1" class="MenuBarHorizontal">
            <li><a href="view-profile.html">view profile</a></li>
            <li><a href="edit-profile.html">edit profile</a></li>
            <li><a href="add-places.html">add places</a></li>
            <li><a href="add-events.html">add events</a></li>
            <li><a href="find-events.html">find events</a></li>
        
          </ul>
      </div>
 </div>

<div class="line"></div>

<div class="content">
<div class="ads"><!-- InstanceBeginEditable name="ads" --> <img src="images/ads/d-300x600.jpg" alt="" width="300" height="600" /><!-- InstanceEndEditable --></div>
<!-- InstanceBeginEditable name="content" -->
<h1>find <span class="subhead">events</span></h1>
<form accept-charset="UTF-8" action="/places/searchresults" class="find-events" method="post">

<div style="margin:0;padding:0;display:inline">
<input name="utf8" type="hidden" value="&#x2713;" />
<input name="authenticity_token" type="hidden" value="rykg/p8ekIWvLQ0hujjYSShG+hf4cm7XdgkckRdiOD4=" /></div>

<div class="field">
<label for="address">Address</label>
<input id="address" name="address" type="text" />
</div> 

<div class="field">
<label for="city">City</label>
<input id="city" name="city" type="text" />
</div>

<div class="field">
<label for="state">State</label>
<input id="state" name="state" type="text" class="state" />
</div>

<div class="field">
<label for="zip">Zip</label>
<input id="zip" name="zip" type="text" class="zip" />
</div>
<div class="hr"></div>
<div class="actions"><input name="commit" type="image" src="images/template/find-events.png" value="Find Events" /></div>

</form>


<!-- InstanceEndEditable -->
</div>
</div>
<div class="footer">
	<div class="copy">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed faucibus. Nam a felis et eros condimentum placerat. Integer non ante quis diam luctus suscipit. Maecenas mi mauris, ullamcorper ut, ullamcorper sit amet, elementum sed, purus. Pellentesque lobortis, nibh sit amet tristique fringilla, sem velit ultricies turpis, nec cursus sapien nibh at neque. Nam sapien dolor, dapibus vitae, pellentesque quis, dignissim eget, metus. Etiam eu justo ut massa lobortis bibendum. Integer massa purus, fringilla et, pharetra sed, consequat ut, diam. Fusce lorem. Praesent at diam varius elit placerat lobortis. Ut vitae magna vitae sapien adipiscing gravida. Maecenas eu dolor in libero tempus viverra. Proin diam tellus, ultrices ullamcorper, venenatis tristique, pretium vitae, orci. Nunc mauris. Nam vulputate dui id quam. Nullam rutrum convallis turpis.</div>
    
    <div class="text-links"><a href="about-us.html"><strong>about us</strong></a> | <a href="contact-us.html">contact us</a> | <a href="career-opportunities.html">career opportunities</a> | <a href="press-releases.html">press releases</a> | <a href="advertising-opportunities.html">advertising opportunities</a> | <a href="privacy-policy.html">privacy policy</a> | <a href="terms-of-use.html">terms of use</a></div>
    <div class="copyright">herematch &copy; 2011. All Rights Reserved.<br />
    </div>
  
    
</div>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
